.TopDiv{
    background-color: lightskyblue;
    text-align: center;
    padding: 5px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}

h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

output {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

option {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

table{
    width: 100%;
}

.tdpadding{
    width: 15%;
    text-align: center;
}

td:hover {
    color: blue;
    background-color: white;
}

.MenuBar{
    background-color: lightblue;
    padding-top: 1px;
}

.Background{
    background-color: lightgray;
    height: 920px;
}

.BackgroundEqui{
    background-color: lightgray;
    height: 3050px;
}

.BackgroundSpot{
    background-color: lightgray;
    height: 2660px;
}

.BackgroundPic{
    background-color: lightgray;
    height: 10500px;
}

.Backgroundbrevet{
    background-color: lightgray;
    height: 1250px;
}

.Main{
    background-color: lightgray;
    margin-left: 10%;
}

.Left{
    padding-left: 10%;
    background-color: lightgray;
    width: 60%;
    float:left;
}

.LeftSpots{
    padding-left: 10%;
    background-color: lightgray;
    width: 30%;
    float:left;
}

.Leftleft{
    background-color: lightgray;
    padding-left: 10%;
    width: 15%;
    float:left;
}

.Leftmid{
    background-color: lightgray;
    width: 25%;
    float:left;
}

.Right{
    width: 28%;
    float:right;
    /*margin-right: 20px;*/
}

.RightSpots{
    padding-top: 5%;
    width: 60%;
    float: right;
    /*margin-right: 20px;*/
}

.RightBrevet{
    width: 60%;
    float: right;
}

.Rightmid{
    background-color: lightgray;
    padding-left: 10%;
    width: 15%;
    float:left;
    /*margin-right: 20px;*/
}

.Rightright{
    background-color: lightgray;
    width: 25%;
    float:right;
    /*margin-right: 20px;*/
}

.RightPic{
    background-color: lightgray;
    padding-left: 5%;
    width: 45%;
    float:right;
}

.LeftPic{
    background-color: lightgray;
    width: 45%;
    padding-left: 5%;
    float:left;
}


.imgEqui{
    width: 70%; 
    padding: 4px;
}

.imgbrevet{
    width: 600px; 
    padding-left: 5%;
}

.Gallery {
    width: 80%;
    padding: 1%;
}


.GalleryV {
    width: 95%;
    padding: 1%;
}

.logbook{
    width: 70%;
}

.About{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 5px;
}

.dspots{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding-left: 10%;
}
.pequi{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.lilin{
    padding-left: 5%;
}

.lilmorein{
    padding-left: 10%;
}

.Video{
padding-left: 10%;
padding-top: 100px;
}

.center{
    margin-left: 30%;
}

.BrevetHeading{
    padding-left: 10%;
    padding-top: 1%;
}

.hidediv{
    visibility: hidden;
}

.showdiv{
    visibility: visible;
}

.divePlan{
    position: absolute;
    top: 35%;
    left: 50%;
    border: 1px solid #000000;
}

.BackgroundCal{
    background-color: lightgray;
    height: 900px;
}

.CaldivSAC{
    position: absolute;
    top: 45%;
    left: 11%;
}
.CalSelect{
    position: absolute;
    top: 35%;
    left: 11%;
}
.CaldivPlanDive{
    position: absolute;
    top: 45%;
    left: 11%;
    z-index: 10;
}
.CaldivCylinder{
    position: absolute;
    top: 45%;
    left: 11%;
    z-index: 20;
}
.CaldivDescription{
    position: absolute;
    top: 45%;
    left: 10%;
    z-index: 30;
}

.lileft{
    text-align: left;
}

input{
    float: left;
}

label{
    float: left;
}